.page-header {
  position: relative;
  background-color: @dark-blue;
}

.page-header-wrapper {
  margin: 0 auto;
  width: 320px;
  min-width: 320px;
  padding-top: 20px;
  box-sizing: border-box;
}

.page-header__action-list-box {
  margin: 0 auto;
  width: 320px;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.page-header__img-box {
  position: relative;
  margin-bottom: 35px;
}

.page-nav__item {
  text-align: center;
}

.page-header__logo-box {
  min-width: 280px;
  position: absolute;
  padding: 19px 20px;
  background-color: rgba(14, 15, 14, 0.308);
  z-index: 3;
}

.page-header__logo-link2,
.page-header__logo-link3 {
  display: none;
}
/*Переделать под мобильную версию*/

.page-nav__list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-nav__item a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-weight: @bold-font-weight;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #485461;
}

.page-nav__item a:last-child {
  border-bottom: 1px solid #000000;
}

.page-header__toggle {
  border: none;
  margin-left: 59px;
}

.page-header__img-box2,
.page-header__img-box3 {
  display: none;
}

.page-header__image-hand {
  position: absolute;
  left: 0;
  bottom: 0;
}

.page-header__download-button {
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
}

.page-header__button--download-link {
  display: block;
  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 39px;
  padding-right: 1px;
  border-color: #ffffff;
  margin-bottom: 33px;
}

.page-list__platform {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-list__description {
  color: #ffffff;
  font-size: 14px;
  font-weight: @light-font-weight;
  line-height: 24px;
  text-align: center;
}

/*Для страницы фото*/

.page__photo-title {
  font-size: 24px;
  font-weight: @light-font-weight;
  color: #ffffff;
  text-align: center;
}

/*Для страницы конкурс*/

.page__form-title {
  font-size: 24px;
  font-weight: @light-font-weight;
  color: #ffffff;
  text-align: center;
}

@media (min-width: 660px) {
  .page-header {
    position: relative;
  }

  .page-header-wrapper {
    margin: 0 auto;
    width: 660px;
    box-sizing: border-box;
  }

  .page-header__logo-box {
    position: absolute;
    width: 660px;
    padding-top: 26px;
    padding-bottom: 43px;
    background-color: rgba(14, 15, 14, 0.308);
    z-index: 3;
    box-sizing: border-box;
  }

  /*Скрываем лого мобильной версии*/
  .page-header__logo-link {
    display: none;
  }

  .page-header__logo-link2 {
    display: block;
  }

  .page-header__toggle {
    border: none;
    margin-left: 200px;
  }

  /*Скрываем картинку в шапке от мобильной версии*/
  .page-header__img-box {
    display: none;
  }

  .page-header__img-box2 {
    display: block;
    position: relative;
  }

  .page-header__image-bg2 {
    height: 730px;
    width: 1200px;
  }

  .page-header__image-hand2 {
    position: absolute;
    left: 10px;
    bottom: 0;
    width: 887px;
    height: 545px;
  }

  .page-header__title-tablet {
    font-size: 40px;
    font-weight: @light-font-weight;
    color: #ffffff;
    margin: 0;
    padding: 0;
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 39px;
    text-align: center;
  }

  .page-list__description {
    font-size: 18px;
    margin: 0;
    margin-top: 40px;
  }

  .page-list__platform {
    justify-content: space-around;
  }

  /*Позиционируем сам блок где кнопки*/
  .page-header__action-list-box {
    position: absolute;
    top: 200px;
    left: 0;
    width: 300px;
    padding-right: 0;
  }
}
