.features {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f2f2f2;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item-title {
  margin: 0;
  text-align: center;
  font-size: 18px;
  line-height: 10px;
  font-weight: @bold-font-weight;
  padding-top: 60px;
}

.features__item-description {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.features__box-img {
  margin-left: 25%;
  width: 280px;
}

@media (min-width: @tablet-width) {
  .features {
    margin: 0;
  }

  .features__flexbox {
    display: flex;
    box-sizing: border-box;
    margin: 0 auto;
    padding-right: 20px;
    width: @tablet-width;
    background-color: #f2f2f2;
  }

  .features__box-img {
    margin: 0;
    margin-right: 35px;
    min-width: 268px;
    min-height: 558px;
  }

  .features__list {
    order: 2;
  }

  .features__item-title {
    margin-bottom: 15px;
    text-align: left;
  }

  .features__item-image {
    width: 100%;
    height: 100%;
  }

  .features__item-description {
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .features {
    box-sizing: border-box;
    width: @desktop-width;
    margin: 0;
    padding: 0;
  }

  .features__flexbox {
    padding: 0 10px;
    width: @desktop-width;
  }
}
