.page-main__wrapper-index {
  margin: 0 auto;
  width: 320px;
}

.features,
.price {
  background-color: #f2f2f2;
}

.review {
  background-color: #ffffff;
}

.promo-questions__item {
  text-align: center;
  font-size: 24px;
  font-weight: @light-font-weight;
}

.features {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item-title {
  text-align: center;
  font-size: 18px;
  line-height: 10px;
  font-weight: @bold-font-weight;
  padding-top: 60px;
}

.features__item-description {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}

.features__box-img {
  margin-left: 25%;
  width: 280px;
}

.review {
  position: relative;
  background-color: #fff;
  z-index: 2;
  margin-top: -55px;
}

.review__title {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  font-weight: @bold-font-weight;
}

.review__item {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
}

.price__header {
  position: relative;
  display: block;
  background-color: @dark-blue;
  padding-bottom: 22px;
}

.price__item-header {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: @bold-font-weight;
  padding-left: 110px;
}

.price__item {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  font-weight: @light-font-weight;
  padding-left: 110px;
}

.price__profit-list {
  position: relative;
  list-style: none;
}

.price__profit-item {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
}

.price__profit-item--img-check-mark-top {
  position: absolute;
  top: 6px;
  right: 30px;
  width: 34px;
  height: 24px;
}

.price__profit-item--img-check-mark-middle {
  position: absolute;
  top: 28px;
  right: 30px;
  width: 34px;
  height: 24px;
}

.price__profit-item--img-check-mark-top path,
.price__profit-item--img-check-mark-middle path {
  fill: #3dc644;
}

.price__profit-item--img-x {
  position: absolute;
  bottom: 7px;
  right: 32px;
  width: 34px;
  height: 24px;
}

.price__profit-item--img-x path {
  fill: #f25b26;
}
