/*Только центрока для inhdex.html*/
.page-main__wrapper-index {
  margin: 0 auto;
  width: 320px;
}

@media (min-width: @tablet-width) {
  .page-main__wrapper-index {
    width: @tablet-width;
    padding: 0 20px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__wrapper-index {
    width: @desktop-width;
    padding: 0 10px;
  }
}
