.review {
  position: relative;
  background-color: #ffffff;
  z-index: 2;
  margin-top: -55px;
}

.review__title {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  font-weight: @bold-font-weight;
}

.review__item {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
}
