.promo-questions__item {
  text-align: center;
  font-size: 24px;
  font-weight: @light-font-weight;
}

@media (min-width: @tablet-width) {
  .promo-questions__item {
    margin: 0;
    font-size: 40px;
    font-weight: @light-font-weight;
    color: @dark-blue;
  }

  .promo-questions__item--center {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 50px;
  }
}

@media (min-width: @desktop-width) {
  .features__box-img {
    display: none;
  }

  .promo-questions__item {
    font-size: 50px;
    color: @dark-blue;
  }

  .promo-questions__item--center {
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 50px;
  }

  .features__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .features__item {
    display: flex;
    flex-direction: column;
  }
}
