.photo__description {
  font-size: 14px;
  line-height: 30px;
}

.photo__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.photo-list__text-box {
  position: relative;
  background-color: #f2f2f2;
  max-width: 280px;
}

.photo-list__user-name {
  font-size: 14px;
  line-height: 24px;
  font-weight: @bold-font-weight;
}

.photo-list__time-publish {
  font-size: 12px;
  line-height: 24px;
  font-weight: @light-font-weight;
  text-transform: uppercase;
}

.photo-list__description-publish {
  font-size: 14px;
  line-height: 24px;
}

.photo-list__img-heart {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 20px;
}

.photo-list__like {
  color: #d85075;
  text-transform: uppercase;
  padding-left: 50px;
  font-size: 12px;
  line-height: 24px;
}

.photo-list__img-heart--red path {
  fill: #d22856;
}
