.image-filters {
  background-color: #f2f2f2;
}

.image-filters__title {
  font-size: 12px;
  line-height: 30px;
  font-weight: normal;
}

.image-filters__saturation {
  border: none;
  border-bottom: 1px solid #dddfe0;
}

.image-filters__button-box {
  display: block;
}

.image__button-example__alignment {
  border-style: none;
}

.image__button-example__alignment,
.image__button-example__fill,
.image__button-example__brightness {
  background-color: #f2f2f2;
}

.image__button-example__fill {
  border-style: none;
  opacity: 0.3;
}

.image__button-example__brightness {
  border-style: none;
  opacity: 0.3;
}
