.photo-footer__mobile-hidden {
  display: none;
}

.photo-footer__wrapper {
  margin: 0 auto;
  width: 320px;
  min-width: 320px;
  box-sizing: border-box;
  padding: 0 20px;
}

.photo-footer__img-logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 56px;
}

.photo-footer__copyright {
  display: flex;
  justify-content: center;
}

.photo-footer__social-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 57px;
}

.photo-footer__copyright-text {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-right: 16px;
  padding-top: 7px;
}

.photo-footer__social-link--twitter path,
.photo-footer__social-link--facebook path,
.photo-footer__social-link--youtube path {
  fill: #d22856;
}

.photo-footer__copyright--academy-logo path {
  fill: #d22856;
}

@media (min-width: @tablet-width) {
  .photo-footer__mobile-hidden {
    display: flex;
  }

  .photo-footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: 660px;
  }
}
