.competition-form {
  display: flex;
  flex-direction: column;
}

.competition-form__title-text {
  @include indentation-reset;
  padding: 45px 0 37px;
  line-height: 30px;
  text-align: center;

  &--call {
    display: none;
  }
}

.competition-form__title {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .competition-form__title {
    width: 620px;
    padding: 0 60px;
    margin-bottom: 60px;
  }

  .competition-form__title-text {
    font-size: 18px;
    padding-top: 94px;
    padding-bottom: 0;

    &--call {
      padding-top: 0;
      display: contents;
    }
  }
}

@media (min-width: $desktop-width) {
  .competition-form__title {
    width: 940px;
    padding: 0 70px;
  }
}
