.slider__radio-definition {
  position: relative;
  width: 12px;
  height: 12px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: $dark-blue-opacity;
    border: 3px solid $white;
    border-radius: 50px;
  }

  &:hover::before,
  &:focus::before {
    background-color: rgba($dark-blue, 0.6);
  }

  &:active::before {
    background-color: rgba($dark-blue, 0.1);
  }

  &--tariffs {
    &::before {
      border-color: $light-grey;
    }
  }
}

.slider__radio:checked + .slider__radio-definition {
  &::before {
    background-color: $white;
    border-color: $dark-blue;
  }
}

.slider__button {
  display: none;
}


@media (min-width: $desktop-width) {
  .slider__button {
    position: absolute;
    top: 11%;
    display: block;
    width: 22px;
    height: 41px;
    padding: 0;
    border: none;
    background-color: transparent;
    opacity: 0.3;
    cursor: pointer;


    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }

    &--left {
      background: url("../img/icon-review-arrow-left.svg") no-repeat center center;
      left: 1%;
    }

    &--right {
      background: url("../img/icon-review-arrow-right.svg") no-repeat center center;
      right: 1%;
    }
  }
}
