.social {
  width: 178px;
  display: flex;
  justify-content: space-between;
}

.social__link {
  display: block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50px;

  &:hover,
  &:focus {
    border-color: $dark-blue;
  }

  &--twitter {
    background: url("../img/icon-twitter.svg") no-repeat center center;
    background-size: 18px 14px;

    &:active {
      border: 3px solid rgba(40, 54, 69, 0.4);
      opacity: 0.3;
    }
  }

  &--facebook {
    background: url("../img/icon-facebook.svg") no-repeat center center;
    background-size: 9px 18px;

    &:active {
      border: 3px solid rgba(40, 54, 69, 0.4);
      opacity: 0.3;
    }
  }

  &--youtube {
    background: url("../img/icon-youtube.svg") no-repeat center center;
    background-size: 15px 13px;

    &:active {
      border: 3px solid rgba(40, 54, 69, 0.4);
      opacity: 0.3;
    }
  }
}
