$white: #ffffff;
$white-opacity: rgba(255, 255, 255, 0.3);
$black: #000000;
$dark-blue: #283645;
$dark-blue-opacity: rgba(40, 54, 69, 0.3);
$pink: #d22856;
$pink-opacity: rgba(210, 40, 86, 0.3);
$grey: #e5e5e5;
$dark-grey: #b5b9be;
$light-grey: #f2f2f2;
$green: #2aab6d;
$dark-green: #1c9b5e;
$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 960px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
